header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}


footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

h1{
	color: black;
	font-family: Century gothic;
	text-align: center;
	font-size: 55pt;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: green;
	font-size: 25pt;
}

ul{
	padding: 10px;
}

li{
	display: inline;
	padding: 0px 10px 0px 10px;
}

img{
	width: 500;
	height: 300;
}

h2{
	color: black;
	font-family: Century gothic;
	text-align: center;
	font-size: 40pt;
}

h3{
	color: black;
	font-family: Century gothic;
	text-align: center;
	font-size: 25pt;
}

p{
	color: black;
	font-family: Century gothic;
	text-align: center;
	font-size: 25pt;
}

#wrapper {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#one {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

#description {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}