header {background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

body{
	color: black;
	text-align: center;
	font-family: Century gothic;

}


h1{
	color: black;
	font-family: Century gothic;
	text-align: center;
	font-size: 55pt;
	text-transform: uppercase;
}


li{
	display: inline;
	padding: 0px 10px 0px 10px;
}


p{
	color: black;
	font-family: Century gothic;
	text-align: center;
	font-size: 25pt;
}

#wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}