body{
	color: black;
	text-align: center;
	font-family: Century gothic;
}

h1{
	color: black
	font-family: Century gothic;
	text-align: center;
	font-size: 55pt;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: green;
	font-size: 25pt;
}

hr{
	size: 10;
	width: 500px;
	color: green;
}

ul{
	padding: 10px;
}

li{
	display: inline;
	padding: 0px 10px 0px 10px;
}

img{
	display: block;
    margin: 0 auto;
    height: 400;
    width: 600;
    vertical-align: text-top;
}

h2{
	color: black
	font-family: Century gothic;
	text-align: center;
	font-size: 40pt;
}

h3{
	color: black
	font-family: Century gothic;
	text-align: center;
	font-size: 25pt;
}

p{
	color: black
	font-family: Century gothic;
	text-align: center;
	font-size: 25pt;
}

#wrapper{
	border: 1px black solid;
	padding: 20px;
}

@media (max-width: 800px) {
  nav {
    float: none;
  }

  nav a {
    margin: 0 1.6em .75em 0;
  }

  img {
    width: 320px;
  }

  @media only screen and (max-width: 480px) {
  h1, nav {
    display: block;
    text-align: center;
  }
    nav a {
    margin: 0 1em 1em;
  }
}
img {
    width: 230px;
  }

   p, ul {
    margin: 1.8em .6em 0;
  }
 
   li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
  }
li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
  }
}