body{
	color: black;
	text-align: center;
	font-family: Century gothic;

}


h1{
	color: black
	font-family: Century gothic;
	text-align: center;
	font-size: 55pt;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: green;
	font-size: 25pt
}

hr{
	size: 10;
	width: 100%;
	color: green;
}

ul{
	padding: 10px;
}

li{
	display: inline;
	padding: 0px 10px 0px 10px;
}

img{
	width: 600;
	height: 400;
}

h2{
	color: black
	font-family: Century gothic;
	text-align: center;
	font-size: 40pt;
}

h3{
	color: black
	font-family: Century gothic;
	text-align: center;
	font-size: 25pt;
}

p{
	color: black
	font-family: Century gothic;
	text-align: center;
	font-size: 25pt;
}

