body{
	color: black;
	text-align: center;
	
}


h1{
	color: black
	font-family: Verdana;
	text-align: center;
	font-size: 55pt;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: green;
}

hr{
	size: 10;
	width: 80%;
	color: green;
}

ul{
	padding: 10px;
}

li{
	display: center;
}

img{
	width: 600;
	height: 400;
}

h2{
	color: black
	font-family: Century;
	text-align: center;
	font-size: 40pt;
}

h3{
	color: black
	font-family: Century;
	text-align: center;
	font-size: 35pt;
}

p{
	color: black
	font-family: Century;
	text-align: center;
	font-size: 25pt;
}

