#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


h1{
	color: black
	font-family: Century;
	text-align: center;
	font-size: 55pt;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	color: green;
}

hr{
	size: 10;
	width: 80%;
	color: green;
}

ul{
	padding: 10px;
}

li{
	display: inline;
}

img{
	width: 600;
	height: 400;
}

h2{
	color: black
	font-family: Century;
	text-align: center;
	font-size: 40pt;
}

h3{
	color: black
	font-family: Century;
	text-align: center;
	font-size: 35pt;
}

p{
	color: black
	font-family: Century;
	text-align: center;
	font-size: 25pt;
}

